## SQLZoo JOINS Practice Solutions.

**1-**
* The first example shows the goal scored by a player with the last name 'Bender'. The * says to list all the columns in the table - a shorter way of saying matchid, teamid, player, gtime.
* **Modify it to show the matchid and player name for all goals scored by Germany**.

In [ ]:

SELECT matchid, player
FROM goal 
WHERE teamid = 'ger';

**2-**
* **Show id, stadium, team1, team2 for just game 1012**.

In [ ]:

SELECT id,stadium,team1,team2
FROM game
where id = 1012;

**3-**
* The code below shows the player (from the goal) and stadium name (from the game table) for every goal scored.
* **Modify it to show the player, teamid, stadium and mdate for every German goal**.

In [ ]:

SELECT player,teamid, stadium, mdate
FROM game gm
JOIN goal gl
ON gm.id=gl.matchid
where teamid = 'ger'
;

**4-**
* **Show the team1, team2 and player for every goal scored by a player called Mario**.

In [ ]:

SELECT team1, team2, player
FROM game gm
JOIN goal gl
ON gm.id = gl.matchid
WHERE player like 'mario%';

**5-**
* **Show player, teamid, coach, gtime for all goals scored in the first 10 minutes gtime<=10**.

In [ ]:

SELECT player, teamid, coach, gtime
FROM goal gl
JOIN eteam tm
ON gl.teamid = tm.id
WHERE gtime<=10;

**6-**
* **List the dates of the matches and the name of the team in which 'Fernando Santos' was the team1 coach**.

In [ ]:

SELECT mdate, teamname
FROM game gm
JOIN eteam tm
ON gm.team1 = tm.id
WHERE coach = 'fernando santos';

**7-**
* **List the player for every goal scored in a game where the stadium was 'National Stadium, Warsaw'**.

In [ ]:

SELECT player
FROM goal gl
JOIN game gm
ON gl.matchid = gm.id
WHERE stadium = 'national stadium, warsaw';

**8-**
* The example query shows all goals scored in the Germany-Greece quarterfinal.
* **Instead show the name of all players who scored a goal against Germany.**.

In [ ]:

SELECT DISTINCT player
FROM game
JOIN goal ON goal.matchid = game.id
WHERE (team1 = 'GER' OR team2 = 'GER')
AND teamid != 'GER';

**9-**
* **Show teamname and the total number of goals scored**.

In [ ]:

SELECT teamname, count(teamid)
FROM eteam
JOIN goal
ON id = teamid
GROUP BY teamname
;

**10-**
* **Show the stadium and the number of goals scored in each stadium**.

In [ ]:

SELECT stadium, count(player)
FROM game
JOIN goal
ON id = matchid
group by stadium;

**11-**
* **For every match involving 'POL', show the matchid, date and the number of goals scored**.

In [ ]:

SELECT matchid,mdate, count(matchid)
FROM goal JOIN game ON id = matchid 
WHERE (team1 = 'POL' OR team2 = 'POL')
group by matchid;

**12-**
* **For every match where 'GER' scored, show matchid, match date and the number of goals scored by 'GER'**.

In [ ]:

SELECT matchid, mdate, count(teamid)
FROM game
JOIN goal 
ON id = matchid
where teamid = 'ger'
GROUP BY id;

**13-**
* **List every match with the goals scored by each team as shown. This will use "CASE WHEN" which has not been explained in any previous exercises**.

In [ ]:

SELECT mdate, team1, 
SUM(CASE
    WHEN teamid = team1 THEN 1 ELSE 0
END) as score1, team2, 
SUM(CASE
  WHEN teamid = team2 THEN 1 ELSE 0
END) as score2       FROM game
LEFT JOIN goal ON id = matchid
GROUP BY mdate, matchid, team1, team2
ORDER BY mdate, matchid, team1, team2;