## SQLZoo More JOIN operations Practice Solutions.

**1-**
* **List the films where the yr is 1962 [Show id, title]**.

In [ ]:

SELECT id, title
 FROM movie
 WHERE yr=1962;

**2-**
* **Give year of 'Citizen Kane'**.

In [ ]:

SELECT yr
FROM movie
WHERE title = 'citizen kane';

**3-**
* **List all of the Star Trek movies, include the id, title and yr (all of these movies include the words Star Trek in the title). Order results by year**.

In [ ]:

SELECT id, title, yr
FROM movie 
WHERE title like '%star trek%'
ORDER BY yr;

**4-**
* **What id number does the actor 'Glenn Close' have?**

In [ ]:

SELECT id
FROM actor
WHERE name = 'glenn close';

**5-**
* **What is the id of the film 'Casablanca'**.

In [ ]:

SELECT id
FROM movie
WHERE title = 'casablanca';

**6-**
* **Obtain the cast list for 'Casablanca'**.
* Use movieid=11768, (or whatever value you got from the previous question).

In [ ]:

SELECT name
FROM actor
JOIN casting ON id = actorid
WHERE movieid = 11768;

**7-**
* **Obtain the cast list for the film 'Alien'**.

In [ ]:

select name
from actor A
join casting C on A.id = C.actorid
JOIN movie M ON C.movieid = M.id
WHERE title = 'alien';

**8-**
* **List the films in which 'Harrison Ford' has appeared**.

In [ ]:

SELECT title FROM movie M
JOIN casting C ON M.id = C.movieid
JOIN actor A ON C.actorid = A.id
WHERE name = 'harrison ford';

**9-**
* **List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]**.

In [ ]:

SELECT title FROM movie M
JOIN casting C ON M.id = C.movieid
JOIN actor A ON C.actorid = A.id
WHERE name = 'harrison ford'
AND ord != 1;

**10-**
* **List the films together with the leading star for all 1962 films**.

In [ ]:

SELECT title, name
FROM movie M
JOIN casting C ON M.id = C.movieid
JOIN actor A ON C.actorid = A.id
WHERE yr = 1962
AND ord = 1;

**11-**
* **Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies**.

In [ ]:

SELECT yr,COUNT(title) FROM
  movie JOIN casting ON movie.id=movieid
        JOIN actor   ON actorid=actor.id
WHERE name='rock hudson'
GROUP BY yr
HAVING COUNT(title) > 2;

**12-**
* **List the film title and the leading actor for all of the films 'Julie Andrews' played in**.

In [ ]:

SELECT title, A.name
FROM movie M
JOIN casting C ON M.id = C.movieid
JOIN actor A ON A.id = C.actorid
WHERE ord = 1
AND M.id  IN (
SELECT movieid FROM casting C
JOIN actor A ON C.actorid = A.id
WHERE A.name = 'Julie Andrews');

**13-**
* **Obtain a list, in alphabetical order, of actors who've had at least 15 starring roles**.

In [ ]:

SELECT name FROM actor A
JOIN casting C ON A.id = C.actorid
JOIN movie M ON C.movieid = M.id
WHERE ord = 1
GROUP BY name
HAVING COUNT(title) >= 15
ORDER BY A.name;

**14-**
* **List the films released in the year 1978 ordered by the number of actors in the cast, then by title**.

In [ ]:

SELECT title, COUNT(actorid) FROM movie M
JOIN casting C ON M.id = C.movieid
JOIN actor A ON C.actorid = A.id
WHERE M.yr = 1978
GROUP BY title
ORDER BY count(actorid) DESC, title;