## SQLZoo SELECT names Practice Solutions.

**1-**
* **Find the country that start with Y.**

In [ ]:

SELECT name FROM world
  WHERE name LIKE 'y%';

**2-**
* **Find the countries that end with y**.

In [ ]:

SELECT name FROM world
  WHERE name LIKE '%y';

**3-**
* Luxembourg has an x - so does one other country. List them both.
* **Find the countries that contain the letter x**.

In [ ]:

SELECT name FROM world
  WHERE name LIKE '%x%';

**4-**
* Iceland, Switzerland end with land - but are there others?.
* **Find the countries that end with land**.

In [ ]:

SELECT name FROM world
  WHERE name LIKE '%land';

**5-**
* Columbia starts with a C and ends with ia - there are two more like this.
* **Find the countries that start with C and end with ia**.

In [ ]:

SELECT name FROM world
  WHERE name LIKE 'c%ia';

**6-**
* Greece has a double e - who has a double o?
* **Find the country that has oo in the name**.

In [ ]:

SELECT name FROM world
  WHERE name LIKE '%oo%';

**7-**
* Bahamas has three a - who else?
* **Find the countries that have three or more a in the name**.

In [ ]:

SELECT name FROM world
  WHERE name LIKE '%a%a%a%';

**8-**
* India and Angola have an n as the second character. You can use the underscore as a single character wildcard.
* **Find the countries that have "t" as the second character**.

In [ ]:

SELECT name FROM world
 WHERE name LIKE '_t%'
ORDER BY name;

**9-**
* Lesotho and Moldova both have two o characters separated by two other characters.
* **Find the countries that have two "o" characters separated by two others**.

In [ ]:

SELECT name FROM world
 WHERE name LIKE '%o__o%';

**10-**
* Cuba and Togo have four characters names.
* **Find the countries that have exactly four characters**.

In [ ]:

SELECT name FROM world
 WHERE length(name) = 4

## Harder Questions.

**11-**
* The capital of Luxembourg is Luxembourg. Show all the countries where the capital is the same as the name of the country
* **Find the country where the name is the capital city**.

In [ ]:

SELECT name FROM world
 WHERE name = capital;

**12-**
* The capital of Mexico is Mexico City. Show all the countries where the capital has the country together with the word "City".
* **Find the country where the capital is the country plus "City"**.

In [ ]:

SELECT name
FROM world
 WHERE capital = concat(name , ' city');

**13-**
* **Find the capital and the name where the capital includes the name of the country**.

In [ ]:

SELECT capital, name
FROM world w
WHERE capital LIKE CONCAT ('%', name, '%');

**14**
* **Find the capital and the name where the capital is an extension of name of the country**.
* You should include Mexico City as it is longer than Mexico. You should not include Luxembourg as the capital is the same as the country.

In [ ]:

SELECT name, capital
FROM world
WHERE capital LIKE concat('%', name, '%') AND capital > name;

**15-**
* The capital of Monaco is Monaco-Ville: this is the name Monaco and the extension is -Ville.
* **Show the name and the extension where the capital is a proper (non-empty) extension of name of the country**.
* You can use the SQL function REPLACE.

In [ ]:

SELECT name, REPLACE(capital, name, '') AS extension
FROM world
WHERE capital LIKE concat('%', name, '%') AND capital > name;