## SQLZoo SELECT within SELECT Practice Solutions.

**1-**
* **List each country name where the population is larger than that of 'Russia'.**.

In [ ]:

SELECT name FROM world
  WHERE population >
     (SELECT population FROM world
      WHERE name='russia');

**2-**
* **Show the countries in Europe with a per capita GDP greater than 'United Kingdom'**.

In [ ]:

SELECT name
FROM world
WHERE continent = 'europe' AND (gdp/population) > (
SELECT gdp/population as per_capita_gpd
FROM world
WHERE name ='United Kingdom'
);

**3-**
* **List the name and continent of countries in the continents containing either Argentina or Australia. Order by name of the country**.

In [ ]:

SELECT name, continent
FROM world
WHERE continent IN (
select continent
FROM world
WHERE name IN (
'Argentina', 'Australia'
)
);

**4-**
* **Which country has a population that is more than United Kingdom but less than Germany? Show the name and the population**.

In [ ]:

SELECT name, population FROM world
WHERE population > (
SELECT population FROM world
WHERE name = 'United Kingdom')
AND population < (
SELECT population FROM world
WHERE name = 'Germany');

**5-**
* Germany (population 80 million) has the largest population of the countries in Europe. Austria (population 8.5 million) has 11% of the population of Germany.
* **Show the name and the population of each country in Europe. Show the population as a percentage of the population of Germany**.

In [ ]:

SELECT name, CONCAT(ROUND((population* 100)/
(SELECT population FROM world
WHERE name = 'Germany'), 0),'%')
FROM world
WHERE continent = 'Europe';

**6-**
* **Which countries have a GDP greater than every country in Europe? [Give the name only.] (Some countries may have NULL gdp values)**.

In [ ]:

select name
from world
where gdp > 
(
    select max(gdp) from world
    where continent = 'europe'
);

**7-**
* **Find the largest country (by area) in each continent, show the continent, the name and the area:**.

In [ ]:

SELECT x.continent, x.name, x.area
FROM world AS x
WHERE x.area = (
  SELECT MAX(y.area)
  FROM world AS y
  WHERE x.continent = y.continent)

**8-**
* **List each continent and the name of the country that comes first alphabetically**.

In [ ]:

SELECT continent, name
FROM world x
WHERE name <= ALL
(
SELECT name
FROM world y
WHERE x.continent = y.continent
);

**9-**
* **Find the continents where all countries have a population <= 25000000. Then find the names of the countries associated with these continents. Show name, continent and population**.

In [ ]:

SELECT name, continent, population
FROM world
WHERE continent IN 
(
SELECT continent
FROM world  x
WHERE 25000000 >= 
    (SELECT MAX(population) FROM world y 
     WHERE x.continent = y.continent)
);

**10-**
* **Some countries have populations more than three times that of all of their neighbours (in the same continent). Give the countries and continents**.

In [ ]:

SELECT name, continent
FROM world x
WHERE population > ALL
(
SELECT 3*population
FROM world y
WHERE x.continent = y.continent AND x.name <> y.name
);