## SQLZoo Using Null Practice Solutions.

**1-**
* **List the teachers who have NULL for their department**.

In [ ]:

SELECT name
FROM teacher
WHERE dept is null;

**2-**
* **Note the INNER JOIN misses the teachers with no department and the departments with no teacher**.

In [ ]:

SELECT teacher.name, dept.name
 FROM teacher JOIN dept
           ON (teacher.dept=dept.id);

**3-**
* **Use a different JOIN so that all teachers are listed**.

In [ ]:

SELECT teacher.name, dept.name
 FROM teacher LEFT JOIN dept
           ON (teacher.dept=dept.id)

**4-**
* **Use a different JOIN so that all departments are listed**.

In [ ]:

SELECT teacher.name, dept.name
 FROM teacher RIGHT JOIN dept
           ON (teacher.dept=dept.id)

**5-**
* Use COALESCE to print the mobile number. Use the number '07986 444 2266' if there is no number given.
* **Show teacher name and mobile number or '07986 444 2266'**.

In [ ]:

SELECT name, COALESCE(mobile, '07986 444 2266')
FROM teacher

**6-**
* **Use the COALESCE function and a LEFT JOIN to print the teacher name and department name. Use the string 'None' where there is no department**.

In [ ]:

SELECT T.name, COALESCE(D.name, 'None')
FROM teacher T
LEFT JOIN dept D ON T.dept = D.id;

**7-**
* **Use COUNT to show the number of teachers and the number of mobile phones**.

In [ ]:

SELECT COUNT(name), COUNT(mobile)
FROM teacher;

**8-**
* **Use COUNT and GROUP BY dept.name to show each department and the number of staff. Use a RIGHT JOIN to ensure that the Engineering department is listed**.

In [ ]:

SELECT D.name, COUNT(T.dept) AS teacher_count
FROM dept D
LEFT JOIN teacher T ON D.id = T.dept
GROUP BY D.name
ORDER BY COUNT(T.dept) DESC;

**9-**
* **Use CASE to show the name of each teacher followed by 'Sci' if the teacher is in dept 1 or 2 and 'Art' otherwise**.

In [ ]:

SELECT name,
CASE WHEN dept IN (1,2) THEN 'Sci' ELSE 'Art' END AS dept
FROM teacher;

**10-**
* **Use CASE to show the name of each teacher followed by 'Sci' if the teacher is in dept 1 or 2, show 'Art' if the teacher's dept is 3 and 'None' otherwise**.

In [ ]:

SELECT name,
CASE
   WHEN dept IN (1,2) THEN 'Sci'
   WHEN dept = 3 THEN 'Art'
   ELSE 'None'
END AS dept
FROM teacher;